# Xcode
build/
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/
*.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Derived Data
DerivedData/

# Logs
*.log

# Temporary files
*.swp
*.swo
*.tmp

*.DS_Store